.monitor {
  background-color: black;
  color: white;
  text-align: right;

  .row {
    height: auto;
    width: auto;
    margin-right: 0;
    display: flex;

    span {
      align-self: flex-end;
      padding: 1%;
      font-size: 3rem;
      width: 100%;
      font-family: 'Nabla', cursive;
      font-family: 'VT323', monospace;
      font-family: 'Rubik Microbe', cursive;
      overflow-y: auto;
    }

    span.history {
      font-size: 1rem;
    }
  }
}
