@import './variables';
@import './calculator';
@import './button';
@import './display';

html, body, #root {
    height: 100%;
    padding: 10px;
}

html {
    font-size: $root-font-size;
}

body {
    background-color: $background-color;
}

.App {
    position: relative;
    height: inherit;
    // border: 1px solid blue;
}